body {
    height: 50rem;
    background: linear-gradient(180deg, #A0FFB5 0%, rgba(185, 185, 185, 0) 100%);
}

.container {
    background-color: aliceblue;
    max-width: 70%;
    max-height: fit-content;
    margin: 0 auto;
}