<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Spacy</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">FSFU</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../ ">TF-IDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spac">Spacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fakenews">FakeNews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sentiment">Sentiment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>
            &nbsp;
            <center>Spacy</center>
        </h2>
        <center>
            <form action="/spa_sub" method="post" enctype="multipart/form-data">
                <div class="form-floating">
                    <textarea class="form-control" name="spa_sub" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <br> {% if display %}
            <p>{{display|markdown}}</p>
            {% endif %}
        </center>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>