<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>FSFY</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">FSFU</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">TF-IDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spac">Spacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fakenews">FakeNews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sentiment">Sentiment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>
            &nbsp;
            <center>Welcome to File Search For You. </center>
        </h2>
        <div>
            <center>
                &nbsp;
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="upload "> Upload Your Flie :</label>
                    <input type="file" multiple id="upload" name="upload[]">
                    <input type="submit" value="upload">
                    <br><br>
                </form>
            </center>
        </div>


        <div>
            <center>
                <form action="/search" method="post" enctype="multipart/form-data">
                    <label for="search "> Search Word :</label>
                    <input type="text" multiple id="search" name="search">&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="search">
                </form>
                {{found}}
                <br><br>
            </center>
        </div>
        <div>
            <center>
                <form action="/compare" method="post" enctype="multipart/form-data">
                    <label for="search "> Compare Between BOW VS TF_IDF : TOP 5 </label><br><br>
                    <table style="border: 1px solid black; width:50%; ">
                        {%if bow%}
                        <tr>
                            <td style="border: 1px solid black;  text-align:center">Bag of words</td>
                            <td style=" border: 1px solid black; text-align:center ">TF_IDF</td>
                        </tr>
                        
                        {% for i in range(0,5) %}
                        <tr>
                            <td style="border: 1px solid black;  text-align:center">{{bow[i]}}</td>
                            <td style="border: 1px solid black;  text-align:center">{{idf[i]}}</td>
                            {% endfor %}</tr>
                            {%endif%}
                        </table><br>
                    <input type="submit" value="compare">
                </form>
            </center>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    </div>
</body>

</html>